.home-body{
    padding:10px 0px;
}
*{
    white-space: normal;
}
.home-table{
    min-width: 400px;
}
.days-nav-div{
    background-color: #4285f4;
    min-height: 48px;
    color: rgba(255,255,255,.7);
    vertical-align: middle;
    display: flex;
    text-align: center;
    align-items:center;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
.day-span{
    vertical-align: middle;
    cursor: pointer;
    /*padding:0 15px;*/
    height: 100%;
    position: relative;
    text-align: center;
    display: inline-block;
}

.day-span.is-active{
    color: #fff;
}
.day-span.is-active:after{
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    bottom: -15px;
    border-bottom: 2px solid white;
}
.borderSpan{
    padding: 0 15px;
}
.time-col{
    width:20%;
    min-width: 300px;
    color: #757575;
    padding: 0 !important;
}
.description-col{
overflow: auto;
}
.description-col p {
    margin: 8px 0;
}
.devsite-event-type {
    border: 1px solid #e0e0e0;
}
.devsite-event-type {
    border-radius: 2px;
    display: inline-block;
    padding: 4px 8px;
    white-space: nowrap;
    margin-right: 5px !important;
}


@media (min-width:769px) {
    .home-body{
        padding:10px 40px;
    }
    .time-col{
        width: 10%;
    }
}

.filterSection{
    margin: 10px 0;
    background-color: white;
    padding: 12px;
    font-size: 14px;
}
.navText{
    position: relative;
    bottom: 12px;
    margin-left: 15px;
    font-size: large;
    color: rgba(0, 0, 0, 0.54);
}
.navPara{
    margin:0 20px;
}
.navbar{
    background-color: white;
}
.dayHead{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.54);
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
